@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Quicksand:wght@300..700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --lightgrey: #3d3d3d;
  --green: #578e7e;
  --beige: #f5ecd5;
  --lightyellow: #fffaec;
  --white: #ffffff;
  --accent: #a0c0b0;
}

a {
  font-weight: 500;
  color: var(--beige);
  text-decoration: inherit;
}

a:hover {
  color: var(--beige);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}




.header-text {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo a {
  flex: 1;
}

/* Animation */
.animateContainer {
  display: block;
  position: absolute;
  z-index: 1;
}

.animateContainerOut {
  display: none;
}


.animateItem {
  height: 100%;
  width: 100%;
}

/* Mobile Styles */
@media screen and (max-width: 426px) {
  #menuToggle {
    display: none;
  }

  .animateContainer {
    width: 43rem;
    height: 93rem;
    background-color: var(--green);
    padding-top: 25rem;
  }

  .animateItem {
    font-size: 2rem;
    margin-left: 5rem;
    padding-top: 10rem;
  }

  .animateLogo {
    width: 350px;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--green);
  }

  .header {
    display: flex;
    width: 100%;
    height: 60px;
    color: beige;
    justify-content: space-between;
  }

  .menu img {
    height: 50px;
    width: 50px;
  }

  .logo {
    margin-left: 10px;
    padding-top: 8px;
  }

  .header-text {
    text-align: center;
    margin-top: 10px;
    font-size: clamp(2rem, 2vw, 2rem);
  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .body-item {
    width: 85vw;
    height: clamp(100px, 20vh, 120px);
    padding: 10px 10px 0 10px;
    margin: 20px 0 0 5.5vw;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #fff;
    color: #1a1a1a;
  }

  .nav-bar {
    display: flex;
    position: fixed;
    margin-top: 91vh;
    justify-content: space-around;
    background-color: var(--lightgrey);
    height: 80px;
    width: 100%;
  }

  .nav-bar-container {
    display: flex;
    margin-left: 0;
  }

  .nav-bar-item {
    display: flex;
    margin: 0 1vw;
  }

  .nav-bar-item img {
    height: 75px;
    width: 75px;
  }
}

/* Tablet Styles */
@media screen and (min-width: 426px) and (max-width: 769px) {
  #menuToggle {
    display: none;
  }

  .animateContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
  }

  .animateItem img {
    width: 70vw;
    height: 50vh;
    margin: 25vh 0 0 15vw;
  }


  .main {
    background-color: var(--green);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  .menu img {
    height: 75px;
    width: 75px;
  }

  .header-text {
    color: var(--beige);
    font-size: 30px;
    padding-top: clamp(0vw, 3vw, 5vw);
  }

  .logo {
    padding-left: clamp(3vw, 3vw, 15vw);
  }

  .body {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
  }

  .body-item {
    width: 85vw;
    height: 100px;
    padding: 10px 10px 0 10px;
    margin: 40px 0 0 6vw;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #fff;
    color: #1a1a1a;
  }

  .nav-bar {
    display: flex;
    position: fixed;
    margin-top: 91vh;
    background-color: var(--lightgrey);
    height: 80px;
    width: 100%;
  }

  .nav-bar-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .nav-bar-item {
    display: block;
  }

  .nav-bar-item img {
    height: 75px;
    width: 75px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 770px) {
  .animateContainer {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    z-index: 2;
  }


  .animateItem img {
    width: 70vw;
    height: 80vh;
    margin: 10vh 0 0 15vw;
  }

  .main {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
  }

  .header {
    display: flex;
    width: 100vw;
    height: 80px;
    color: beige;
    justify-content: space-between;
  }

  .header-text {
    margin: 10px 10px 0 0;
    font-size: 30px;
    display: flex;
  }

  .logo {
    margin-left: 200px;
  }

  .body-item {
    width: 85vw;
    height: 100px;
    padding: 20px;
    margin: 40px 0 0 0;
    font-size: 20px;
    font-family: sans-serif;
    background-color: #fff;
    color: #1a1a1a;
  }

  .nav-bar-item img {
    display: none;
  }

  .aboutUs {
    margin-top: 40vh;
  }

  #menu {
    z-index: 1;
  }

  #menu a {
    color: var(--green);
    margin-left: 20px;
    font-family: "Quicksand", sans-serif;
  }

  #menu li {
    margin-left: -30px;
  }

  #menu li:hover {
    background-color: var(--green);
  }

  #menu li:hover a {
    color: var(--beige);
    transition: 1s ease;
  }
}